.container {
  max-width: 1264px;
  padding: 0 10px;
  margin: 0 auto;
  outline: 2px solid red;
}

body {
  font-family: "Manrope", sans-serif;
}

.header {
  padding-top: 20px;
}

.header-container {
  display: flex;
  align-items: center;
  background: #FEFCF7;
  border-radius: 10px;
  padding: 20px;
}


.header-items{
  display: flex;
}

.hero-text{
 color: #161616;
  font-family: Manrope;
  font-size: 27px;
  font-weight: 700;
  line-height: 110%;
  text-align: center;

}

.hero-detales{
  align-self: stretch;
color:  #454444;
font-family: Manrope;
font-size: 22px;
font-style: normal;
font-weight: 500;
line-height: normal;
padding-top: 20px;
margin: 0 auto;
}

.main-info{
  display: flex;
  flex-direction: column;
}


.arrow-btn{

width: 24.0px;
height: 24.0px;

}

.hero-right{
      display: flex;
    flex-direction: column;
gap: 24px;

}


.main-exploring{
border-radius: 400px;
   display: flex;
   width: 230.0px;
    white-space: nowrap;
margin: 0 auto;
    align-items: center;
    gap: 10px;
    box-sizing: border-box;
height: 61.0px;
padding: 18px 22px;
color: var(--Terratrip-White, #FFF);
font-family: Manrope;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
background-color: black;
}

.hero-details-mobile {
  display: block;
}

.hero-details-desktop {
  display: none;
}

.header-logo {
  color: #161616;
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
  display: flex;
  align-items: center;
  gap: 12px;
  text-decoration: none;

}


.travel-tales{
    align-self: stretch;
color: var(--Black, #161616);
text-align: center;
font-family: Manrope;
font-size: 26px;
font-style: normal;
font-weight: 600;
line-height: 120%;
  padding-top: 40px;

}


.travel-prepare{
  align-self: stretch;
color: var(--Black, #161616);
text-align: center;
font-family: Manrope;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
padding-top: 12px;
}

.img-street{
  padding-top: 40px;
}


.header-item {
  color: #161616;
  font-family: "Manrope", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
}

.header-menu {
  width: 24px;
  height: 24px;
}
.header-listes{
  display: none;
 }
 
  .header-list{
    display: none;
  }


.header-btn {
  background-color: transparent;
  border: none;
  margin-left: auto;
}

.header-leaf {
  width: 20.1px;
  height: 23.1px;
  fill: orange;


}

@media (min-width: 382px) {
  .container {
    width: 382px;
  }
 .header-listes{
  display: none;
 }
 
  .header-list{
    display: none;
  }


.hero-text{
  align-self: stretch;
color: var(--Black, #161616);
text-align: center;
font-family: Manrope;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: 110%;


}
  
}

@media (min-width: 1264px) {
  .container {
    width: 1264px;
    padding: 0 12px;
  }

  .header {
    padding-top: 40px;
  }

  .header-btn {
    display: none;
  }



.img-street{
  width: 362.0px;
height: 280.0px;
margin: 0 auto;
}


  .header-list {
    display: flex;
    gap: 32px;
    margin-right: auto;
  }
  .header-listes-link{
  color: #161616;
font-family: Manrope;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.header-listes{
  display: flex;
  gap: 32px;
}

.contact-border{
  border: 2px solid #161616;
  border-radius: 100px;
  padding: 8px 14px;;
}

.main-info{
  display: flex;
  flex-direction: row;
}

 .hero-detales {
    font-size: 24px;
       margin-left: auto;

  }


.header-link{
    color: var(--Black, #161616);
font-family: Manrope;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;

}


 .main-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 189px;
  }

  .hero-text {
    width: 60%;
    text-align: left;
    font-size: 72px;
  }

  .hero-right {
    width: 40%;
  }

  .hero-detales {
    margin: 0;
    font-size: 24px;
  }


.img-street{
  width: 1280.0px;
height: 460.0px;
margin: 0 auto;
}











}
