
* {
  box-sizing: border-box;
}

.moment-arrows {
  width: 40px;
  height: 40px;
  transform: rotate(180deg);
  padding: 8px 14px;
  border: 1px solid #161616;
  border-radius: 99px;
}

.moment-arrow {
  width: 40px;
  height: 40px;
  padding: 8px 14px;
  border: 1px solid #161616;
  border-radius: 99px;
}
.container {
  max-width: 1264px;
  padding: 0 10px;
  margin: 0 auto;
  outline: 2px solid red;
}






body {
  font-family: "Manrope", sans-serif;
}

.header {
  padding-top: 20px;
}

.header-container {
  display: flex;
  align-items: center;
  background: #FEFCF7;
  border-radius: 10px;
  padding: 20px;
}


.header-items{
  display: flex;
}

.hero-text{
 color: #161616;
  font-family: Manrope;
  font-size: 27px;
  font-weight: 700;
  line-height: 110%;
  text-align: center;

}

.hero-detales{
  align-self: stretch;
color:  #454444;
font-family: Manrope;
font-size: 22px;
font-style: normal;
font-weight: 500;
line-height: normal;
padding-top: 20px;
margin: 0 auto;
}

.main-info{
  display: flex;
  flex-direction: column;
}


.travel-explore{
  align-self: stretch;
color: var(--Black, #161616);
text-align: center;
font-family: Manrope;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
padding-top: 41px;

}




.travel-bcg{
background: #D3F5FE;
border-radius: 40px;
padding-bottom: 20px;

}

.img-place{
  padding-top: 20px;

}

.camels-img{
margin-top: 20px;
}

.place-icon{
  width: 24.0px;
height: 24.0px;
background-color: #ED952B;
border-radius: 99px;
padding: 8px;
}





.travel-about{
  align-self: stretch;
color: var(--Gray-Dark, #454444);
text-align: center;
font-family: Manrope;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;

}


.arrow-travel{
  color: red;
  width: 40.0px;
height: 40.0px;

}


.lapky-desk,
.partner-inf{
  display: none;
}




.michel{
  display: none;
}

.man-sea{
  display: none;
}

.arrow-btn{

width: 24.0px;
height: 24.0px;

}

.hero-right{
      display: flex;
    flex-direction: column;
gap: 24px;

}
.travel-guide{
  margin-bottom: 40px;
  margin-top: 40px;
}



.main-exploring{
border-radius: 400px;
 
   width: 230.0px;
    gap: 10px;
height: 61.0px;
padding: 18px 22px;
color: var(--Terratrip-White, #FFF);
font-family: Manrope;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
background-color: black;

}

.hero-details-mobile {
  display: block;
}

.hero-details-desktop {
  display: none;
}

.header-logo {
  color: #161616;
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
  display: flex;
  align-items: center;
  gap: 12px;
  text-decoration: none;
margin: 0 auto;
}


.september{
  margin-top: 20px;
    text-align: center;
color: #161616;
font-family: Manrope;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;

}

.october{
  
    text-align: center;
color: #161616;
font-family: Manrope;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
}




.travel-tales{
    align-self: stretch;
color: var(--Black, #161616);
text-align: center;
font-family: Manrope;
font-size: 26px;
font-style: normal;
font-weight: 600;
line-height: 120%;
  padding-top: 40px;

}


.company-title{
  align-self: stretch;
color: var(--Black, #161616);
font-family: Manrope;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 120%;
padding-top: 20px;
}


.about-company{
  align-self: stretch;
color: #454444;
font-family: Manrope;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;

}



.bus{
  display: none;
}

.moments{
  color: var(--Black, #161616);
font-family: Manrope;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 120%;
padding-bottom: 52px;
}


.company{
  padding-top: 120px;
  padding-bottom: 120px;
}


.company-btn{
  color: #161616;
font-family: Manrope;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
background-color: transparent;
border-color: #161616;
padding: 22px;
border-radius: 20px;
 display: flex;
  align-items: center;
  gap: 10px;
margin: 0 auto;
width: 178.0px;
height: 50.0px;
padding: 14px 18px;

}



.btn-svg{
 display: block;
  width: 50px;
  height: 50px;

fill: #161616;
}






.moment-arrow{
  width: 12.0px;
height: 24.0px;
}



.moments{
  align-self: stretch;
color: var(--Black, #161616);
text-align: center;
font-family: Manrope;
font-size: 26px;
font-style: normal;
font-weight: 600;
line-height: 120%;

}


.company .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.company-content {
    display: flex;
    flex-direction: column;
}

.company-title {
    margin: 0;
    color: #161616;
    font-family: Manrope;
    font-size: 26px;
    font-weight: 700;
    line-height: 120%;
}

.company .container {
    display: flex;
    flex-direction: column;
}



.bus-text{
  display: none;
}


.about-company {
    margin: 24px 0 0;
    color: #454444;
    font-family: Manrope;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
}

.company-btn {
    margin-top: 40px;
    width: fit-content;

    color: #161616;
    font-family: Manrope;
    font-size: 18px;
    font-weight: 500;

    background-color: transparent;
    border: 1px solid #161616;
    border-radius: 20px;

    padding: 22px;

    display: flex;
    align-items: center;
    gap: 10px;
}

.traveller{
  margin-bottom: 20px;
}

.explore{
  align-self: stretch;
color: var(--Black, #161616);
text-align: center;
font-family: Manrope;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top: 16px;


}









.start-price{
  color: var(--Gray-Dark, #454444);
font-family: Manrope;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin: 0 auto;
text-align: center;
margin-top: 12px;
}


.travel-planning{
  align-self: stretch;
color: var(--Black, #161616);
text-align: center;
font-family: Manrope;
font-size: 26px;
font-style: normal;
font-weight: 600;
line-height: 120%;
margin-top: 20px;

}

.planning-offer{
  align-self: stretch;
color: var(--Gray-Dark, #454444);
text-align: center;
font-family: Manrope;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-top: 12px;
margin-bottom: 12px;
}



.partner-offer{
  align-self: stretch;
color: var(--Gray-Dark, #454444);
text-align: center;
font-family: Manrope;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-top: 12px;
margin-bottom: 12px;
}

.partner-arrows {
    display: flex;
    justify-content: center;
    gap: 12px;
}


.partner-info{
  color: #000;
font-family: Manrope;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
  width: 291.0px;
height: 176.0px;
margin: 0 auto;
}


.partner-place{
  color: var(--Gray-Dark, #454444);
font-family: Manrope;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;

}

.text-position {
    display: flex;
    align-items: center;
    gap: 12px;
margin-top: 16px;
  }



.quastions-title{
  color: var(--Nomad-Web-Black, #424242);
text-align: center;
font-family: Manrope;
font-size: 26px;
font-style: normal;
font-weight: 600;
line-height: 120%;

}

.quastions{
  margin-top: 60px;
}


.quastion-kind{
color: var(--Trial-Black, #161616);
font-family: Manrope;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
display: flex; 
justify-content: space-between;
  align-items: center;
margin-top: 32px;

}



.quastions-spec{
  flex: 1 0 0;
color: var(--Gray-Dark, #454444);
font-family: Manrope;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-top: 24px;
}

.footer{
  margin-top: 50px;
}



.footer-leaf{
  width: 22.1px;
height: 24.0px;
}


.footer .container {
  display: flex;
  justify-content: center;
  
}




.footer-name{
  color: var(--Black, #161616);
font-family: Manrope;
font-size: 26px;
font-style: normal;
font-weight: 600;
line-height: 120%;

}

.footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-leaf {
  width: 24px;
  height: 24px;
}

.footer-name {
  margin: 8px 0 0;
}


.footer-street{
  color: var(--Black, #161616);
text-align: center;
font-family: Manrope;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-top: 12px;
}

.footer-contact{
  color: var(--Gray-Dark, #454444);
font-family: Manrope;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-top: 12px;

}

.quastion-sect{
 margin-top: 24px;
}

.contact-link{
  color: var(--Gray-Dark, #454444);
font-family: Manrope;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-top: 12px;
}



.quick-links{
  
color: var(--Gray-Dark, #454444);
font-family: Manrope;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-top: 12px;

}



.footer-fill{
  color: var(--Black, #161616);
font-family: Manrope;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-top: 12px;
}

.follow-links{
  color: var(--Gray-Dark, #454444);
font-family: Manrope;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;

}


.footer-follow{
  margin-top: 12px;
}

.footer-quick{
  margin-top: 12px;
}

.footer-fill{
    margin-top: 12px;

}

.quick-items{
  margin-top: 12px;
}


.follow-items{
    margin-top: 12px;
justify-content: center;
}



.footer-title{
  color: var(--Black, #161616);
text-align: center;
font-family: Manrope;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-top: 24px;
}



.footer-arrow {
width: 28.7px;
height: 28.7px;
  --color1: #161616;
 margin: 0 auto;
justify-content: center;
display: flex;
padding: 2px;
border: 2px solid #161616;
border-radius: 99px;
margin-top: 12px;

}

.footer-apps{
  display: flex;
  width: 20.0px;
height: 16.3px;

}


.footer-apps{
  margin-top: 40px;
}


.footer-apps-list{
  display: flex;
  gap: 24px;
}


.quastion-sect{
  color: var(--Trial-Black, #161616);
font-family: Manrope;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;

}



.qualification{
  color: var(--Black, #161616);
font-family: Manrope;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 20px;
}



.partner-data {
    display: flex;
    flex-direction: column;
}

.partner-name,
.partner-place {
    margin: 0;
}


.partner-name{
  color: #000;
font-family: Manrope;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;

}


.man-img{
  width: 40.0px;
height: 40.0px;
margin-top: 16px;
}


.lapky{
  width: 24.0px;
height: 24.0px;
margin-top: 44px;
}

.partner-title{
  align-self: stretch;
color: var(--Black, #161616);
text-align: center;
font-family: Manrope;
font-size: 26px;
font-style: normal;
font-weight: 600;
line-height: 120%;

}


.section-partner{
  margin-top: 80px;
}


.planning-explore{
  display: flex;
padding: 14px 18px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 100px;
border: 1px solid var(--Black, #161616);
background: var(--White, #FFF);
color: var(--Black, #161616);
font-family: Manrope;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;

}




.street-image{
  margin-top: 40px;
}


.price{
  color: #2B2B2B;
font-family: Manrope;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: 110%;
margin: 0 auto;
text-align: center;
}


.discover{
  align-self: stretch;
color: var(--Gray-Dark, #454444);
text-align: center;
font-family: Manrope;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-top: 8px;
}


.travel-prepare{
  align-self: stretch;
color: var(--Black, #161616);
text-align: center;
font-family: Manrope;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
padding-top: 12px;
}

.img-street{
  padding-top: 40px;
}


.header-item {
  color: #161616;
  font-family: "Manrope", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
}

.header-menu {
  width: 24px;
  height: 24px;
}
.header-listes{
  display: none;
 }
 
  .header-list{
    display: none;
  }





.moment-arrow {
  width: 12px;
  height: 24px;
  transform: none;

  padding: 8px 14px;
  border: 1px solid #161616;
  border-radius: 99px;
}

.moment-arrows {
  width: 12px;
  height: 24px;
  transform: rotate(180deg);

  padding: 8px 14px;
  border: 1px solid #161616;
  border-radius: 99px;
}


.moment-september{
  color: var(--Trial-Black, #161616);
font-family: Manrope;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin: 0 auto;
}








.header-btn {
  background-color: transparent;
  border: none;
  margin-left: auto;
}

.header-leaf {
  width: 20.1px;
  height: 23.1px;
  fill: orange;


}

@media (min-width: 382px) {
  .container {
    width: 382px;
  }
 .header-listes{
  display: none;
 }
 
  .header-list{
    display: none;
  }




  


.hero-text{
  align-self: stretch;
color: var(--Black, #161616);
text-align: center;
font-family: Manrope;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: 110%;




}

.main-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-top:  40px;
  }




 .moment-arrows {
  width: 12px;
  height: 24px;
  transform: rotate(180deg);
  padding: 8px 14px;
  border: 1px solid #161616;
  border-radius: 99px;
}

.moment-arrow {
  width: 12px;
  height: 24px;
  transform: none;
  padding: 8px 14px;
  border: 1px solid #161616;
  border-radius: 99px;
}
}

@media (min-width: 1264px) {
  .container {
    width: 1264px;
    padding: 0 12px;
  }

  .header {
    padding-top: 40px;
  }

  .header-btn {
    display: none;
  }


.moment-september{
  color: var(--Trial-Black, #161616);
font-family: Manrope;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
}


.about-travel .container{
  gap: 24px;
}


 
.travel-explore{
  align-self: stretch;
color: var(--Black, #161616);
font-family: Manrope;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
padding-bottom: 20px;

}


.bus-photo {
    position: relative;
}

.bus-text {
    position: absolute;
    top: 270px;
}
.travel-img {
  display: block;
}

.bus-text {
  position: absolute;
  left: 20px;
  bottom: 20px;
  color: var(--White, #FFF);
font-family: Manrope;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
display: block;
}




 .travel-about{
  align-self: stretch;
color: var(--Gray-Dark, #454444);
font-family: Manrope;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;

 }




.img-street{

  width: 100%;
  height: 460px;


}


  .header-list {
    display: flex;
    gap: 32px;
    margin-right: auto;
  }
  .header-listes-link{
  color: #161616;
font-family: Manrope;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.header-listes{
  display: flex;
  gap: 32px;
}

.contact-border{
  border: 2px solid #161616;
  border-radius: 100px;
  padding: 8px 14px;;
}

.main-info{
  display: flex;
  flex-direction: row;
}

 .hero-detales {
    font-size: 24px;
       margin-left: auto;

  }

  .man-sea{
    display: block;
  }

.header-link{
    color: var(--Black, #161616);
font-family: Manrope;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;

}


 .main-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top:  189px;
  }

  .hero-text {
    width: 60%;
    text-align: left;
    font-size: 72px;
  }

  .hero-right {
    width: 40%;
  }

  .hero-detales {
    margin: 0;
    font-size: 24px;
  }


.img-street{
  width: 1264.0px;
height: 460.0px;

}



.travel-about{
  align-self: stretch;
color: var(--Gray-Dark, #454444);
font-family: Manrope;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;

}

.main-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}





.travel-img{
  width: 397.0px;
height: 300.0px;
padding: 20px;

}



.moments{
  color: var(--Black, #161616);
font-family: Manrope;
font-size: 48px;
font-style: normal;
font-weight: 700;
  text-align: left;
}

.man-sea,
.traveller{
  width: 660.0px;
height: 409.0px;

}



.travel-prepare,
.travel-tales{
  display: none;
}

.travel-bcg{
  width: 292.0px;
height: 360.0px;
padding: 20px;

}

.img-place{
  width: 292.0px;
height: 360.0px;


}

.camels-img{
  width: 187.0px;
height: 220.0px;
padding: 20px;

}

.about-travel .container{
  display: flex;
  padding-top: 80px;
  padding-bottom: 80px;
}

.company-title{
  align-self: stretch;
color: var(--Black, #161616);
font-family: Manrope;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 120%;

}


.about-company{
  align-self: stretch;
color: #454444;
font-family: Manrope;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
padding-top: 24px;
}

.company .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 80px;
}

.company-content {
  order: 1;
}

.company-image {
  order: 2;
  
}

.company{
  padding-top: 120px;
  padding-bottom: 120px;
}


.company-btn{
  color: #161616;
font-family: Manrope;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
background-color: transparent;
border-color: #161616;
padding: 22px;
border-radius: 20px;
 display: flex;
  align-items: center;
  gap: 10px;

}



.partner-title{
  width: 397.0px;
height: 116.0px;
align-self: stretch;
color: var(--Black, #161616);
font-family: Manrope;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 120%;

}


.partner-offer{
  align-self: stretch;
color: var(--Gray-Dark, #454444);
font-family: Manrope;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
}



.section-partner .partner-title,
.section-partner .partner-offer,
.section-partner .partner-arrows {
  margin-left: 0;
  margin-right: auto;
  text-align: left;
      justify-content: flex-start;

}

.partner-arrows{
  margin-top: 50px;
}


.michel{
  width: 40.0px;
height: 40.0px;

}



.quastions-title{
  color: var(--Black, #161616);
text-align: center;
font-family: Manrope;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 120%;
margin-bottom: 40px;
}



.quastions-umbrella{
  width: 503.0px;
height: 580.0px;
border-radius: 20px;
}



.october{
  
    text-align: center;
margin-top: 20px;
}



.price-flex{
  display: flex;
  flex-direction: column;
  
}




.about-planning .container {
  display: flex;
  flex-direction: row;
}


.planning-side{
  margin-top: 100px;
  margin-left: 100px;
}





.btn-svg{
 display: block;
  width: 50px;
  height: 50px;
 
  flex-shrink: 0;
fill: #161616;
}

.building-img {
    width: 503px;
    height: 619px;
    border-radius: 16px;
    display: block;
}


.street-image{
  width: 503.0px;
height: 500.0px;

}




.travel-planning{
  width: 608.0px;
height: 174.0px;
align-self: stretch;
color: var(--Trial-Black, #161616);
font-family: Manrope;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 120%;

}



.planning-offer{
  align-self: stretch;
color: var(--Gray-Dark, #454444);
font-family: Manrope;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
width: 608.0px;
height: 54.0px;

}

.partner-inf,
.lapky-desk{
  display: block;
}


.partner-inf{
  color: #000;
font-family: Manrope;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;

}

 .partner-review {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .partner-review .lapky {
    margin: 0 0 20px 0;
  }

  .partner-review .partner-info {
    width: 500px;
    height: auto;
    margin: 0;
  }

  .partner-review .text-position {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 20px;
  }

  .partner-data {
    display: flex;
    flex-direction: column;
  }


.section-partner .container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 100px;
}

.partner-trusted {
  width: 397px;
  flex-shrink: 0;
}

.partner-review {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 500px;
}

.partner-review .lapky {
  margin: 0 0 20px 0;
}

.partner-review .partner-info {
  width: 500px;
  height: auto;
  margin: 0;
}

.partner-review .text-position {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 20px;
}
.section-partner .container {
  display: flex;
  align-items: flex-start;
  gap: 100px;
}

.partner-trusted {
  width: 397px;
}

.partner-reviews {
  display: flex;
  gap: 60px;
}

.partner-review {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.partner-review .partner-info,
.partner-review .partner-inf {
  width: 100%;
  height: auto;
}






.text-position {
  display: flex;
  align-items: center;
  gap: 12px;
}

.partner-data {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.michel {
  display: block;
  width: 40px;
  height: 40px;
  margin: 0;
  flex-shrink: 0;
}

.michel-name,
.michel-place {
  margin: 0;
}






  
.michel-name{
    color:  #161616;
font-family: Manrope;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;

}

.michel-place{
  color: var(--Gray-Dark, #454444);
font-family: Manrope;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;

}

 .quastions-content {
    display: flex;
    align-items: flex-start;
    gap: 80px;
  }

  .quastions-umbrella {
    width: 500px;
  }

  .guide-inform {
    flex: 1;
  }


.michel{
  display: block;
}

.company-bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.building-img {
    display: block;
}


.guide-inform {
  width: 100%;
}

.quastion-kind,
.quastion-sect {
  display: flex;
  align-items: center;
  width: 100%;
}

.plus-img {
  margin-left: auto;
  flex-shrink: 0;
}

.footer-leaf,
.footer-name,
.footer-street{
margin-right:  auto;
}







.quastions{
  margin-bottom: 140px;
}

.company .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.company-content {
    display: flex;
    flex-direction: column;
}

.company-title {
    margin: 0;
    color: #161616;
    font-family: Manrope;
    font-size: 48px;
    font-weight: 700;
    line-height: 120%;
}

.about-company {
    margin: 24px 0 0;
    color: #454444;
    font-family: Manrope;
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
    
}


.september-price {
  text-align: left;
  margin: 0;
}

.september-price .september,
.september-price .explore,
.september-price .discover {
  text-align: left;
  margin-left: 0;
  margin-right: 0;
}


.october-price .october,
.october-price .explore,
.october-price .discover {
   text-align: left;
  margin-left: 0;
  margin-right: 0;
}

.month-center{
  display: flex;
gap: 150px;
}



.img-moment{
  display: flex;
  gap: 20px;
}




.quastion-sect{
 margin-top: 24px;
}




.img-moment {
  display: flex;
  gap: 20px;
}




}




.moment-arrows {
  width: 12px;
  height: 24px;
  transform: rotate(180deg);
  padding: 8px 14px;
  border: 1px solid #161616;
  border-radius: 99px;
}

.moment-arrow {
  width: 12px;
  height: 24px;
  padding: 8px 14px;
  border: 1px solid #161616;
  border-radius: 99px;
}

.plus-img{
  width: 20.0px;
height: 20.0px;

}

.company-btn {
    margin-top: 40px;
    width: fit-content;

    color: #161616;
    font-family: Manrope;
    font-size: 18px;
    font-weight: 500;

    background-color: transparent;
    border: 1px solid #161616;
    border-radius: 20px;

    padding: 22px;

    display: flex;
    align-items: center;
    gap: 10px;
}

.building-img {
    display: block;
    width: 503px;
    height: 619px;
    border-radius: 16px;
}



.photo-wrapper {
  position: relative;
}

.photo-wrapper img {
  display: block;
}

.play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 64px;
  height: 64px;
}

.arrows-position {
  display: flex;
  gap: 12px;
}

.moment-arrows,
.moment-arrow {
  width: 40px;
  height: 40px;
  padding: 0;
  display: block;
  flex-shrink: 0;
}

.moment-arrows {
  transform: rotate(180deg);
}